---
title: leandronism
layout: mylayout.njk
---

<div style="background: white">
  <div class="typing-container">
    <div class="page-vspace"></div>
    <div class="page-vspace"></div>
      <div class="home-typing responsive-web">
        Welcome to my
        <span
            class="txt-rotate"
            data-period="2000"
            data-rotate='[ "page", "thoughts", "ideas", "site", "reviews", "blog", "opinions" ]'></span>
      </div>
      <div class="home-typing responsive-mobile">
        Welcome<br>to my
        <span
            class="txt-rotate"
            data-period="2000"
            data-rotate='[ "page", "thoughts", "ideas", "site", "reviews", "blog", "opinions" ]'></span>
      </div>
    <div class="page-vspace"></div>
    <div class="page-vspace"></div>
  </div>
</div>
<div class="content">
  <div class="content-main">

    <div class="page-vspace content-features-header">
      <div>
        FEATURED POSTS
      </div>
      <div>
        <img class="chevron chevron-inactive" src="/assets/common/chevron_left.png" alt="left-arrow"/>
        <img class="chevron pseudo-link" src="/assets/common/chevron_right.png" alt="right-arrow"/>
      </div>
    </div>
      <div class="feature-header-line">
      </div>
      <div class="feature-header-gray-line">
      </div>
      <div class="content-features">
        <div class="content-flex-item">
          <img style="object-position: right bottom" class="features-list-img-preview" src="/assets/boonmee-2.png" alt="boonmee"/>
          <div class="feature-type">
            REVIEW
          </div>
          <div class="feature-title pseudo-link">
            A Love Letter to Uncle Boonmee
          </div>
        </div>
        <div class="content-flex-item">
          <img class="features-list-img-preview" src="/assets/krathong.png" alt="krathong"/>
          <div class="feature-type">
            BEHIND THE STORY
          </div>
          <div class="feature-title pseudo-link">
             Why It Took Me a Full Year To Publish "Conversations"
          </div>
        </div>
        <div class="content-flex-item">
          <img style="object-position: right bottom" class="features-list-img-preview" src="/assets/javascript.jpeg" alt="laptop"/>
          <div class="feature-type">
            TECH
          </div>
          <div class="feature-title pseudo-link">
            First Blog: A Website of CSS Misadventures
          </div>
        </div>
      </div>
      <div class="content-text page-vspace">
    </div>

    <div class="content-text content-form-text">
      <div class="contact-form">
        <div class="content-text get-in-touch">
          Let's get in touch!
        </div>
        <div class="contact-field" data-validate = "Name is required">
          <input class="contact-field" type="text" name="name" id="formName" placeholder="Name" autocomplete="off">
        </div>
        <div id="nameError" class="contact-error"> </div>

        <div class="contact-field" data-validate = "Valid email is required">
          <input class="contact-field" type="text" name="email" id="formEmail" placeholder="Email" autocomplete="off">
        </div>
        <div id="emailError" class="contact-error"> </div>

        <div class="contact-field" data-validate = "Subject is required">
          <input class="contact-field" type="text" name="subject" id="formSubject" placeholder="Subject" autocomplete="off">
        </div>
        <div id="subjectError" class="contact-error"> </div>

        <div class="contact-field contact-field-area" data-validate = "Message is required">
          <textarea class="contact-field" name="message" id="formMessage" placeholder="Message" autocomplete="off"></textarea>
        </div>
        <div id="messageError"  class="contact-error"> </div>
        <div style="text-align: center; padding-bottom: 20px" id="submitButton">
          <button class="contact-submit" onclick="consoleLog()">
						<span>
							Send message
						</span>
          </button>
        </div>
        <div>
          <div class="message-sent hidden-element" id="messageSent">
            Sent!
          </div>
        </div>
        <div class="page-vspace"></div>
        <div class="content-about">
          <div>
            <img src="assets/leandro.jpg" alt="leandro" class="about-image"/>
            <div>
              <div class="content-text">
                About Me
              </div>
              <div style="padding-top: 8px"></div>
              <div class="content-about-body">
                Sawadee, I'm Leandro! I am a Computer Science graduate with experience in
                full-stack development and data engineering. I also like writing
                stories and sharing my thoughts,
                and this (unfinished) website is a product of that.
              </div>
              <div class="content-about-body">
                Outside of work, you'll find me flipping through my Thai
                phrasebooks or watching films. Or probably sleeping.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
