---
title: Murder Mystery
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ '/assets/mystery/output-onlinepngtools.png' | url }}">
  <link href='https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap' rel='stylesheet'>
  <meta name="theme-color" content="#ffffff">
  <!--  <link rel="shortcut icon" href="favicon.png"/>-->
  <title>{{ title }}</title>
  <meta http-equiv="Content-Language" content="th">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=windows-874">
  <link rel="stylesheet" href="{{ '/css/murdermystery.css' | url }}">
</head>
<body class="mystery-max-height page-background">
<div class="mystery-max-height">
  <div class="mystery-max-height mystery-vertical-center">
    {{ content | safe }}
  </div>
</div>
<script src="{{ '/js/murdermystery.js' | url }}"></script>
</body>
</html>
